@model _665Project_ASP.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventVenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventVenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventOrganizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventOrganizer.EmailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
